.page {
  color: white;

  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px 20px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  width: 100%;
  max-width: 600px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main ol {
  font-size: x-large;
  font-weight: 900;
}

.main input {
  width: 100%;
  height: 2rem;
  padding: 2px 6px;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.main textarea {
  width: 100%;
  min-height: 7rem;
  resize: vertical;
  padding: 12px;
  transition: min-height 0.3s ease;
  border-radius: 4px;
}

.main textarea:focus {
  min-height: 11rem;
}

.main form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.report {
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  border: 0px solid transparent;
}

.report:hover {
  background-color: #378869;
}

.loc_box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.user_loc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.main_color {
  background-color: #53C89B;
}

.second_color {
  background-color: #378869;
}

.back_color {
  background-color: #11263D;
}

.title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: -12px;
}

.subtitle {
  font-size: 18px;
}

@media (min-width: 480px) {
  .main input {
    width: 100%;
  }

  .user_loc {
    flex-direction: row;
    gap: 24px;
  }

  .loc_box {
    margin-top: 6px;
  }

  .title {
    font-size: 64px;
  }

  .subtitle {
    font-size: 22px;
  }
}
